* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #dde1e7;
    display: grid;
    place-items: center;
}

.main {
    background: rgb(0, 4, 255);
    margin: 80px auto;
    width: 90%;
    height: 400px;
    max-width: 500px;
    outline: 4px solid;
}

.element {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}